<input type="text" [(ngModel)]="title">
{{ title }}

<button (click)="addItem()"> Add item </button>

<ul>
<li *ngFor="let name of products; index as i">
{{ name.id }} 
{{ name.title }}
{{ name.price }}
{{ name.description }}
<button (click)="deleteItem(i)">Delete item </button>
</li>
</ul>

<div [ngSwitch]="title">
<p *ngSwitchCase="'nicolas'">Nico</p>
<p *ngSwitchCase="'juan'">juan</p>
<p *ngSwitchCase="'mario'">marico</p>
<p *ngSwitchDefault>Nananay</p>
</div>

<div *ngFor="let product of products">
  <app-product (productClicked)="clickProduct($event)" [product]="product"></app-product>
</div>